.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0097D9;
    width: auto;
    height: 16.34mm;
    padding: 5.44mm;   
}

.toolbar__logo{
    display: flex;
    justify-content: absolute;
    padding: 18mm;
}
.toolbar__imagem{
    width: 68mm;
}


.toobar__logout{
    
    right: 2mm;
    left: 200mm;
    font-size: 07mm
}


