<mat-toolbar class="toolbar">
    <a class="toolbar__logo" routerLink="">
        <img class="toolbar__imagem" src="/assets/logogft.jpg" alt="">
    </a>
        
    <button  mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>
    
    <button *ngIf="loginDisplay" mat-icon-button (click)="logout()">
      <mat-icon class="toobar__logout">logout</mat-icon>
     
    </button>
<!--     <mat-icon class="toolbar__icon">account_circle</mat-icon>   -->
      
</mat-toolbar>

 <!--       <button mat-raised-button *ngIf="loginDisplay" (click)="logout()">Logout</button> -->
 
 <!-- <a class="toolbar__logo" routerLink="">
            <img class="toolbar__imagem" src="/assets/logogft.jpg" alt="">
        </a> -->

         <!--  <a class="title" href="/">{{ title }}</a>
        <div class="toolbar-spacer"></div> -->